@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

/* --- Structure --- */
body {
    margin: 0;
}
body,
.main-column,
.header,
    .header .content,
    .header ul,
.hero,
    .hero .content,
    .hero .left,
    .hero .image,
.products,
    .product-list,
    .product-list .product,
.testimonials,
.call-to-action,
    .call-to-action .left,
    .call-to-action .right,
.footer,
.content
{
    display: flex;
}
.header, .hero, .products, .testimonials, .call-to-action, .footer {
    width: 100%;
    justify-content: center;
    align-items: center;
}
.content {
    width: 800px;
}



/* --- Colors and Forms ---  */
.header, .hero, .footer {
    background-color: #1F2937;
}
button {
    border-radius: 6px;
}


/* --- Sections --- */

/* body */
body {
    margin: 0;
    background-color: #0E0E0E;
    font-family: Roboto, sans-serif;
    justify-content: center;
}


/* main-column */
.main-column {
    width: 1000px;
    flex-direction: column;
    align-items: center;
}


/* header */
.header {
    padding-top: 15px;
}
.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}
.header .content {
    justify-content: space-between;
}
.header ul {
    padding: 0;
    margin: 0;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
}
.header li {
    list-style: none;
}
.header .links a {
    color: #E5E7EB;
    font-size: 18px;
    list-style: none;
    text-decoration: none;
}


/* hero */
.hero {
    padding: 80px 0;
}
.hero .content {
    justify-content: space-between;
    gap: 30px;
}
.hero .left {
    align-items: center;
}
.hero .title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 700;
}
.hero .description {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}
.hero button {
    background-color: #3882F6;
    border-width: 0;
    padding: 6px 18px;
    color: white;
}
.hero .image {
    align-items: center;
}
.hero img {
    width: 400px;
    height: 230px;
}


/* products */
.products {
    background-color: white;
    padding: 30px 0 60px 0;
}
.products .content {
    flex-direction: column;
    align-items: center;
}
.products .title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 700;
}
.product-list {
    padding-top: 30px;
    gap: 50px;
}
.product-list .product {
    flex-direction: column;
    align-items: center;
    max-width: 100px;
}
.product-list .description {
    color: #6F7782;
    font-size: 12px;
    text-align: center;
}
.product img {
    width: 120px;
    height: 120px;
    border: 3px solid #3B82F6;
    border-radius: 10px;
}


/* testimonials */
.testimonials {
    background-color: #E5E7EB;
    padding: 80px 0;
}
.testimonials .content {
    flex-direction: column;
    width: 600px;
}
.testimonials .quote {
    font-size: 32px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}
.testimonials .author {
    margin-top: 10px;
    font-weight: 700;
    text-align: right;
    margin-right: 50px;
}


/* call to action */
.call-to-action .content {
    margin: 50px 0;
    width: 700px;
    justify-content: space-evenly;
}
.call-to-action .left {
    flex-direction: column;
    justify-content: center;
    padding: 35px;
}
.call-to-action .right {
    align-items: center;
    justify-content: center;
    flex-shrink: 2;
}
.call-to-action {
    background-color: white;
}
.call-to-action .content, .call-to-action button {
    background-color: #3882F6;
    border-radius: 4px;
    color: white;
}
.call-to-action button {
    border: 2px solid white;
    padding: 3px 25px;
}
.call-to-action .title {
    font-weight: 700;
}
.call-to-action .description {
    font-size: 10px;
    font-weight: 300;
}


/* footer */
.footer {
    color: white;
    padding: 20px 0;
}
