#container {
    display: grid;
    grid-template-columns: repeat(16, 25px);
    grid-auto-rows: 25px;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
}